@import 'variables';
@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";
.btn {
    background-color: $bg-color !important;
    border: none !important;
    outline: 0 !important;
    font-weight: bold !important;
    @include transition(all 0.2s ease-in-out);
    &:focus {
        outline: 0;
    }
    &:active {
        outline: 0;
    }
    &:hover {
    	background-color: lighten($bg-color, 10%) !important;
    }
}
