.col-xs-12.col-md-6
	img(src="public/img/nodejs-icon.svg" height="150")
	h4 Javscript Development
	p.text-muted I am a full Stack JavaScript developer and enthusiast.  If you are looking for backend solution with Node.js or front-end solution with a Javascript framework, I'm your man!  I have worked with frameworks such as Angular.js, Angular 2, Duandal.js, Knockout.js, React.js, Harp.js, Sails.js, MEAN, Hapi.js and Bitcore.js among others and also have extensive knowledge of next generation JavaScript (ES6).
.col-xs-12.col-md-6
	img(src="public/img/html5.png" height="150")
	h4 Front-end Development
	p.text-muted Front end development and JavaScript go hand in hand.  Single page applications are my speciality!  If SPA's aren't your bag, then let me know what is...  From simple website fixes to full blown apps, no task is too big or too small.  With knowledge of JavaScript, Typescript, ES6, HTML5, SASS, LESS, Stylus I'm sure that you will find my clean, maintainable and unit tested code a good fit for your project.
.col-xs-12.text-center.get-in-touch-button
	button.btn-lg.btn.btn-primary GET IN TOUCH

