.col-xs-6
	img(src="public/img/nodejs-icon.svg" height="150")
	h4 Javscript Development
	p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
.col-xs-6
	img(src="public/img/html5.png" height="150")
	h4 Front-end Development
	p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
.col-xs-12.text-center.get-in-touch-button
	button.btn-lg.btn.btn-primary GET IN TOUCH

