meta(charset='utf8')
title #{title}
script(src="/public/dist/bundle.js")
link(rel='stylesheet' href='/public/scss/main.css')
link(rel='stylesheet' href='/public/scss/bootstrap.min.css')
link(rel='stylesheet' href='/public/scss/icomoon.css')
link(href='https://fonts.googleapis.com/css?family=Roboto:400,700,900,500' rel='stylesheet' type='text/css')