.jumbotron
	h1 { Richard Macarthy }
	h3 Full Stack JavaScript Developer and Freelancer
.about 
	p Full Stack JavaScript freelancer with awesome knowledge of Node.js and eight years experience with front-end web development technologies.  
	.icons
		a(href="https://www.github.com/rjmacarthy")
			i.icon-github
		a(href="http://www.upwork.com/o/profiles/users/_~0148163ff0a9d8f954/")
			i.icon.icon-html5
		a(href="http://stackoverflow.com/users/1327711/richard-macarthy")
			i.icon.icon-code
		a(href="skype:richymac85?call")
			i.icon.icon-skype
		a(href="mailto:richardmacarthy@hotmail.com")
			i.icon.icon-envelop
