.col-xs-12
	img(src="public/img/me.jpg" height="150").me
	h2 Richard Macarthy
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  